# Datahåndtering
# Fjerne versjoner (pandas==3.0.1)(numpy==2.4.2)(scipy==1.17.1) Mindre risiko for konflikter, enklere for gruppeprosjekt, spesielt viktig med Apache Spark
pandas
numpy
scipy

# Visualisering
# Fjerne versjon (matplotlib==3.10.8) for samme grunner som over.
matplotlib

# Statistikk og feature engineering
# Fjerne versjon (statsmodels==0.14.6) (geopy==2.4.1) for samme grunner som over.
statsmodels
scikit-learn
geopy

# API
requests

# Sky / filhåndtering
# Fjerne versjoner (azure-storage-blob==12.28.0)(azure-identity==1.25.2)(python-dotenv==1.2.2) for samme grunner som over.
azure-storage-blob
azure-identity
python-dotenv

# Database
duckdb

# Dashboard
streamlit

# Spark
pyspark

# Tid / kalender
#Fjerne versjoner (holidays==0.92)(arrow==1.4.0) for samme grunner som over.
# Pandas håndterer datoer fint selv, så kan fjerne "arrow" hvis vi ikke bruker det aktivt.
holidays
arrow

# Asynkront / systemspesifikke pakker
# Disse kommer automatisk uansett, ikke nødvendig i requirements
# anyio==4.12.1
# appnope==0.1.4 
